.product-card{
    position: relative;
    width: 463px;
    height: 450px;
    overflow: hidden;
}
.product-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;
}
.product-card img:hover{
    cursor: pointer;
    scale: 1.2;
}

.product-card-content{
    position: absolute;
    top: 50%;
    left: 10%;
    /* border: 1px solid red; */
    z-index: 6;
    padding: 20px;
}
.product-card-content .product-Name{
    color: #fff;
    font-family: var(--text-font);
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 2rem;

}
.View-product{
    padding: 10px 40px;
    background-color: transparent;
    color: #fff;
    font-family: var(--text-font);
    text-decoration: none;
    border:  1px solid #fff;
    transition: .5s ease-in-out;
}

@media(max-width:500px){
    .product-card{
        max-width: 380px;
    }
}