*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
ul{
  list-style: none;
}

:root{
  --black_color:#000000;
  --white_color:#ffffff;
  --gray_color:#abb8c3;
  --text_gray_color:rgba(255,255,255,0.7);
  --heading-font: 'Futura', sans-serif; 
  --text-font:'Century Gothic' , sans-serif;
}

.d-flex-coloumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
}
@font-face {
  font-family: 'Futura';
  src: url('./assets/Fonts/Futura/Futura-CondensedLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Century Gothic';
  src: url('./assets/Fonts/century/CenturyGothic.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}